/* src/styles/components/PokemonCard.module.css */

.pokemonCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .pokemonCard img  {
    width: 100px;
    height: 100px;
  }
  
  .pokemonCard h3  {
    margin-top: 10px;
  }
  
  .pokemonCard p  {
    color: #666;
  }
  